[submodule "loginservice"]
	path = loginservice
	url = git@github.com:blacksph3re/loginservice.git
[submodule "alastair3"]
	path = alastair3
	url = git@github.com:blacksph3re/alastair3
[submodule "kitsch-frontend"]
	path = kitsch-frontend
	url = git@github.com:t0m0ffel/kitsch-frontend.git
